*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E3F8F6;
}
img{
    max-width: 100%;
}
ul li{
	list-style: none;
}
.container-fluid{
/*     border: 1px solid red; */
}
.header{
    background-color: #6CCFF3;
}
.update_without{
    margin-top: 10%;
/*     padding: 5%; */
    font-size: 24px;
}
.log_header{
}
.row{
    height: 50%;
/*     border: 1px solid green; */
}

.col{
/*     border: 1px solid black; */
    /* font-size: 50px; */
}
.img-div{
    text-align: center;
    margin: auto;
}
.btn-danger{
    margin-left: 40px;
    width: 110px;
    height: 75px;
    font-size: 25px;
}
.btn-div{
    text-align: center;
}
.login_col{
    background-color: white;
    margin: auto;
}
.login-container{
    width: 60%;
    margin-top: 5%;
    font-size: 50px;
}
.index_container{
	font-size: 50px;
}
.account-row{
    /* display: inline-block; */
    margin: 10% 10%;
}
.forget-row{
    text-align: right;
}
.forget-btn{
    margin: 5% auto;
    width: 20%;
    height: 60%;
    font-size: 24px;
}
.btn_col{
    /* margin-right: 10%; */
    margin-top: 10%;
}