*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E3F8F6;
    font-family: inherit;
    
}
img{
    max-width: 100%;
}
a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}
ul li{
	list-style: none;
}
.container-fluid{
/*     border: 1px solid red; */
}
.header{
    background-color: #6CCFF3;
/*     height: 100px; */
}

.shadow{
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.update_without{
    margin-top: 10%;
/*     padding: 5%; */
    font-size: 24px;
}
.management_container{
    font-size: 24px;
    text-align: center;
}
.log_header{
	height: 170px;
}
/* .row{ */
/*     height: 170px; */
/* /*     border: 1px solid green; */ */
/* } */

.col{
/*     border: 1px solid black; */
    /* font-size: 50px; */
}
.img-div{
    text-align: center;
    margin: auto;
}
/* .btn-danger{ */
/*     margin-left: 40px; */
/*     width: 110px; */
/*     height: 75px; */
/*     font-size: 25px; */
/* } */
/* .btn-div{ */
/*     text-align: center; */
/* } */
.login_col{
    background-color: white;
    margin: auto;
}
.login-container{
    width: 60%;
    margin-top: 5%;
    font-size: 36px;
}
.index_container{
	font-size: 36px;
}
.account-row{
    text-align: center;
/*     margin: 10% 10% 6% 10%; */
    height: 600px;
}
.forget-row{
    text-align: center;
    margin: 6% 8% 8% 8%;
}
/* .forget-btn{ */
/*     margin: 5% auto; */
/*     width: 20%; */
/*     height: 60%; */
/*     font-size: 24px; */
/* } */
.btn_col{
    margin-right: 10%;
    margin-top: 10%;
}
.search-col{
	text-align: right;	
}
.listAll_row{
	background-color: #17a2b861;
}

.-none{
  display: none;
}

.button_mem{
	font-size: 20px;
}
.AutoNewline
{
	word-break: break-all;
}

/* .btn_pwd_update */
/* { */
/* 	width: 100px; */
/* } */

.nav-tabs{
	border-bottom: none;
}
.p_ename{
	margin: 0;
	font-size: 28px;
    color: lightcyan;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgba(0,123,255,.25);
    border-color: none; 
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

.rounded-circle {
    border-radius: 50%!important;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.div_img{
	text-align: right;
}

.p_backend{
	font-size: 42px;
}

.btn-warning {
    color: #212529;
    background-color: rgba(0,123,255,.5);
    border-color: rgba(0,123,255,.5);
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;	
}

.form-control-user {
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
}

.small, small {
    font-size: 50%;
    font-weight: 400;
    display: block;
}

.col_enter{
	padding: 10rem;
}

.row_sendEmail{
	text-align: center;
	margin-top: 10%;
}

.input_mam{
	display: inline-block;
	widows: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#con_mam{
	font-size: 20px;
}

#mem_page{
	font-size: 20px
}

.btn_mem{
	font-size: 1rem;
}

.input_forget{
	display: initial;
    width: 50%;
}